.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
  width: max-content;
  gap: 0 10px;
}

.container span {
  margin: 0 auto;
  min-width: max-content;
}

.prevPageButton,
.nextPageButton {
  height: 100%;
}

.prevPageButton:disabled,
.nextPageButton:disabled {
  opacity: 0.5;
}

.prevPageButtonIcon,
.nextPageButtonIcon {
  display: block;
  width: 100%;
}
