.form {
  display: grid;
  grid-auto-rows: min-content;
  gap: 40px 0;
}

.boxContainer {
  max-width: 500px;
}

.body {
  display: grid;
  grid-auto-rows: min-content;
  gap: 20px 0;
}

.submitButton {
  justify-self: center;
}

.pickRow {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
}

.pickRow span {
  font-size: 0.9rem;
}
