.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--secondary);
}

.boxContainer {
  max-width: 400px;
}

.form {
  display: grid;
  grid-auto-rows: min-content;
  gap: 40px 0;
}

.body {
  display: grid;
  grid-auto-rows: min-content;
  gap: 20px 0;
}

.submitButton {
  justify-self: center;
}

.title {
  text-align: center;
}
