.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 10px 0;
}

.boxContainer {
  max-width: 700px;
}

.container p,
.container h3 {
  margin: 0;
  padding: 0;
}

.container span {
  font-weight: 600;
}

.container h3 {
  color: var(--secondary);
}
