.container {
  width: 90%;
  margin: 0 auto;
  max-width: 700px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin-top: 80px;
  height: calc(100vh-80px);
  gap: 10px 0;
  border-radius: var(--border-radius);
  padding: 40px 30px 30px 30px;
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.6);
}

.container p,
.container h3 {
  margin: 0;
  padding: 0;
}

.container span {
  font-weight: 600;
}

.container h3 {
  color: var(--secondary);
}
