.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  gap: 0;
  padding: 10px 30px;
  background-color: var(--background2);
  border-radius: var(--border-radius);
}

.deleteIcon {
  height: 100%;
  color: var(--tertiary);
  cursor: pointer;
}

.firstColumn {
  min-width: 200px;
}

.secondColumn {
  min-width: 100px;
}

.thirdColumn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 0;
  gap: 0 20px;
  width: 100px;
  height: 100%;
}
