.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  padding: 50px 0px 30px;
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
}

.topSection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 20px 0;
  height: 250px;
  width: 100%;
}

.topSection p {
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 80%;
  margin: 0 auto;
}

.middleSection {
  width: 100%;
}

.logoContainer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  background-color: white;
}

.bottomSection {
  margin-top: auto;
  width: 100%;
}

.buttonText {
  font-size: 1.15rem;
  color: var(--primary);
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 300;
}

.button,
.buttonActive {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 55px;
  gap: 0 15px;
  outline: none;
  padding: 0 0 0 30px !important;
  border-radius: 0 !important;
}

.button:hover,
.buttonActive {
  /* filter: drop-shadow(0 0 5px white); */
  background-color: var(--secondary-darker);
}

.icon {
  color: var(--primary);
  height: 25%;
  aspect-ratio: 1 / 1;
  color: white;
}

.logo {
  margin: 0 auto;
  height: 50px;
  color: var(--secondary-darker);
}
