.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  padding: 20px 0px;
  width: 200px;
  background-color: var(--secondary);
  height: 100vh;
}

.buttonText {
  font-size: 1.35rem;
  color: var(--primary);
  margin: 0;
  padding: 0;
}

.button,
.buttonActive {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  min-height: 70px;
  padding: 0 20px;
}

.button:hover,
.buttonActive {
  /* filter: drop-shadow(0 0 5px white); */
  background-color: var(--secondary-darker);
}
