.container,
.topSection,
.middleSection,
.bottomSection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
}

.container {
  align-items: center;
  gap: 0;
  padding: 50px 0px 30px;
  height: 100%;
  background-color: var(--secondary);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.topSection {
  height: 250px;
  gap: 20px 0;
}

.middleSection {
  gap: 5px 0;
}

.bottomSection {
  margin-top: auto;
}

.topSection p {
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 80%;
  margin: 0 auto;
  font-size: 1.3rem;
}

.logoContainer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  aspect-ratio: 1 / 1;
  background-color: white;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: logoContainerAnimation 8s ease-in-out infinite 1s;
}

.buttonText {
  font-size: 1.15rem;
  color: var(--primary);
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 300;
}

.button,
.buttonActive {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 90% !important;
  margin: 0 auto;
  height: 55px;
  gap: 0 15px;
  outline: none;
  padding: 0 0 0 20px !important;
  border-radius: var(--border-radius);
}

.button:hover,
.buttonActive {
  /* filter: drop-shadow(0 0 5px white); */
  background-color: var(--secondary-darker);
}

.icon {
  color: var(--primary);
  height: 30%;
  aspect-ratio: 1 / 1;
  color: white;
}

.logo {
  margin: 0 auto;
  height: 50px;
  color: var(--secondary-darker);
}

@keyframes logoContainerAnimation {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    padding: auto 0;
  }

  .buttonText {
    display: none;
  }

  .topSection p {
    display: none;
  }

  .logo {
    margin: 0 auto;
    height: 20px;
    color: var(--secondary-darker);
  }

  .button,
  .buttonActive {
    justify-content: center;
    padding: 0 !important;
  }

  .icon {
    height: 35%;
  }
}
