.form {
  display: grid;
  grid-auto-rows: min-content;
  gap: 40px 0;
  border-radius: var(--border-radius);
  background-color: var(--background1);
  padding: 40px 30px 30px 30px;
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.6);
}

.body {
  display: grid;
  grid-auto-rows: min-content;
  gap: 20px 0;
}

.submitButton {
  justify-self: center;
}
