.container {
  display: grid;
  place-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--background2);
}

.fullViewport {
  height: 100vh;
}

.transparentBG {
  background-color: #00000000 !important;
}

.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.spinner:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--secondary);
  border-color: var(--secondary) transparent var(--secondary) transparent;
  animation: spinnerAnimation 1.2s linear infinite;
}

@keyframes spinnerAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
